# Google Apps Script Deployment ID
VITE_GAS_DEPLOYMENT_ID=your_deployment_id_here

# Google Apps Script Web App Endpoint URL (Development /dev or Production /exec)
VITE_GAS_API_URL=https://script.google.com/macros/s/your_deployment_id_here/dev

# Application Config
VITE_APP_NAME="ADM PAC Buaran"
